.gradle
/build/


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache


/demo1/.gradle
/demo2/.gradle
/demo1/gradlew
/demo1/gradlew.bat
/demo2/gradlew
/demo2/gradlew.bat
/demo1/local.properties
/demo2/local.properties
/demo2/.gitattributes
/demo2/.gitignore
/demo1/repo
/demo2/repo
/demo1/build/
/demo2/build/
/demo1/testdata/
/demo2/testdata/
.DS_Store
/demo1/.DS_Store
/demo2/.DS_Store

